@import "normalize";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #4dca9b;
}

a {
  color: #4dca9b;
  cursor: pointer;
}

.resume {
  margin: 0 auto;
  max-width: 800px;
}

form {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 50px;
}

.resume-head {
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 15px;
}

.resume-body {
  padding-bottom: 15px;
}

footer {
  text-align: center;
  padding: 100px 0px 10px 0px;
}

.placeholder {
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}