@import "normalize";
@import "milligram";

body {
  background-color: #FFFFFF;
  color: #000000;
}

nav {
  padding-top: 1em;
}

nav li {
  display: inline;
  margin-left: 10px;
}

a {
  color: #4dca9b;
}

footer {
  padding-top: 1em;
  text-align: center;
}
