<div class="resume">

  <div class="resume-head clearfix">
    <div class="pull-left">
      Momofuku Bar
    </div>
    <div class="pull-right">
      July 2016-Present
    </div>
  </div>
  <div class="resume-body">
    <i>Pastry Cook and Class Instructor, Brooklyn NY</i>
    <p>Prepares quality cakes and components including, frosting, jam, cheesecake, curd, crumb, fudge, ganache, cake and compote with consistency and knowledge of proper use of equipment.</p>
    <p>Produces special order cakes for weddings and events maintaining integrity and consistency of Milk Bar line.</p>
    <p>Maintaining pars and limiting waste while strictly abiding health and cleanliness regulations.</p>
    <p>Upholds positive and upbeat attitude with team while providing efficient and collaborative work atmosphere.</p>
  </div>

  <div class="resume-head clearfix">
    <div class="pull-left">
      BedStuy Baking Co.
    </div>
    <div class="pull-right">
      April 2015-December 2016
    </div>
  </div>
  <div class="resume-body">
    <i>Founder, Brooklyn NY</i>
    <p>Constructs business based on needs of local restaurants while pursuing passion of food services and baking Tests, creates and assembles diversity of seasonal products for local food chains and catering events through organized and detail oriented practices</p>
    <p>Anticipating needs of business through packaging, delivering, advertising, ingredients and warm customer service</p>
    <p>Abides by NYS food laws for handling, packaging, cleanliness and distribution</p>
  </div>

  <div class="resume-head clearfix">
    <div class="pull-left">
      Whole Foods Salud! Cooking School
    </div>
    <div class="pull-right">
      May 2012-July 2013
    </div>
  </div>
  <div class="resume-body">
    <i>Instructor Aid, Nashville, TN</i>
    <p>Anticipated needs of business through packaging, delivering, advertising, ingredients and warm customer service</p>
    <p>Aided cooking school in prep work, shopping and meal planning and instruction of students while engaging participants through friendly customer service</p>
  </div>
</div>