---
title: Drew Aichele
---

<div class="row">
  <div class="col-sm-4 center-block">
    <img src="../images/headshot1.jpg" alt="drew-aichele-headshot" class="img-responsive">
  </div>


  <div class="col-sm-8 introduction">
    <p>&nbsp;</p>
    <p>Hey, Drew here. Thanks for visiting my site!</p>

    <p>I have multiple passions in life and would love for you to explore them in the tabs above.</p>

    <p>I am influenced by books such as <a href="https://www.amazon.com/Mountains-Beyond-Quest-Farmer-Would/dp/0812973011">Mountains Beyond Mountains</a> by Tracy Kidder, <a href="https://www.amazon.com/Think-Grow-Rich-Resent-Poverty/dp/1503081036">Think and Grow Rich</a> by Napoleon Hill and presentations such as <a href="https://www.ted.com/talks/emilie_wapnick_why_some_of_us_don_t_have_one_true_calling">‘Why some of us don’t have one true calling’</a> by Emilie Wapnick. I identify with the assigned attributes from Strength Finder (Can we link to this? https://www.strengthstest.com/strengths-finder-themes) of Adaptability, Positivity, Communication and Woo.</p>

    <p>I find life is most joyful when lived with new challenges and experiences.</p>

    <p>Thanks again for visiting,<br>drew</p>
  </div>
</div>
