---
title: Performance – Drew Aichele
---

<div class="page-header">
  <span class="title">Summary</span>
</div>

<section class="summary">
  My passion for humor and for making people joyful extends to the stage, and I cannot get enough of it. I enjoy studying comedy, acting and performance which has lead me to multiple opportunities in the field. I hungrily look for more chances to put smiles on people’s faces. You can call it corny, but it’s true.
</section>

<div class="page-header">
  <span class="title">Performance Resume</span>
  <span class="pull-right"><a href="../pdfs/resumeperformance.pdf" target="_blank" class="btn btn-primary">View PDF</a></span>
</div>

<div class="resume">

  <div class="resume-head clearfix">
    <div class="pull-left lead">
      Height: 5' 9" &nbsp; Hair: Brown &nbsp; Eyes: Hazel &nbsp; Waist: 32
    </div>
  </div>

  <div class="resume-head clearfix">
    <div class="pull-left lead">
      Training and Education
    </div>
  </div>

  <div class="row resume-body">
    <div class="col-md-6">
      <ul>
        <li>William Esper Studio</li>
        <li>The Upright Citizen's Brigade Improv Training</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>The People's Improv Theater Improv Training</li>
        <li>New York University</li>
      </ul>
    </div>
  </div>

  <div class="resume-head clearfix">
    <div class="pull-left lead">
      Theater
    </div>
  </div>

  <div class="row resume-body">
    <div class="col-md-6">
      <ul>
        <li>Trash Flirts Improv Team</li>
        <li>Echo Improv Team</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Future Bright Lights Improv Team</li>
        <li>Fall Follies Comedic Team</li>
      </ul>
    </div>
  </div>

  <div class="resume-head clearfix">
    <div class="pull-left lead">
      Additional Improve Studies
    </div>
  </div>

  <div class="resume-body">
    Teachers and Practice Group Coaches: Anthony Atamanuik, Ben Rameaka, Doug Moe, Langan Kingsley, Lily Du, Devin Ritchie, Hal Phillips, Tao Yang, Adam Pasulka and Adam Bozarth.
  </div>

</div>
