---
title: Performance – Drew Aichele
---

<p>My passion for humor and for making people joyful extends to the stage, and I cannot get enough of it. I enjoy studying comedy, acting and performance which has lead me to multiple opportunities in the field. I hungrily look for more chances to put smiles on people’s faces. You can call it corny, but it’s true.</p>
